.advantages {
  padding: 70px 0 78px 0;
  .subtitle {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
  }
  &__wrapper {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: calc((100% - 20%) / 3);
    text-align: center;
  }
  &__title {
    margin-top: 38px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  &__text {
    margin-top: 25px;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    span {
      color: #ff0000;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: 400;
    }
  }
  &__icon {
    &_animated {
      animation: heartbeat 1.5s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}
